@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    * {
        @apply p-0 m-0 box-border;
    }
    body {
        @apply text-base font-light font-primary text-white;
    }
    h1 {
        @apply text-4xl font-light;
    }
    h2 {
        @apply text-3xl font-light;
    }
    h3 {
        @apply text-2xl font-medium;
    }
    h4 {
        @apply text-xl font-medium;
    }

    input {
        @apply bg-[transparent] w-[70%] caret-red text-3xl font-light outline-none text-[white] max-w-full z-10 text-opacity-50;
    }

}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}